<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if page.url != "/" %}
      <li class="breadcrumb-item">
        <a href="/">
          <i class="bi bi-house-door"></i>
        </a>
      </li>
    {% endif %}

    {% assign crumbs = page.url | split: '/' %}
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        <li class="breadcrumb-item active" aria-current="page">
          {{ page.title }}
        </li>
      {% else %}
        <li class="breadcrumb-item">
          <a href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{{ crumbs | slice: 0, crumb_limit | join: '/' }}/">
            {{ crumb | replace:'_',' ' | capitalize }}
          </a >
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>