<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
        {% if page.url != "/" %}
        <a href="/">
          <i class="bi bi-house-door"></i>
        </a>
        {% else %}
        <i class="bi bi-house-door"></i>
        {% endif %}
      </li>

    {% assign crumbs = page.url | split: '/' %}
    {% assign parent_directory = crumbs.size | minus: 3 %}
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        {% if crumb == "" or crumb == "index" %}
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">
            {{ page.title }}
          </li>
        {% endif %}
      {% else %}
        <li class="breadcrumb-item">
          {% if forloop.index0 == parent_directory and crumbs.last == "" or crumbs.last == "index" %}
              {{ crumb }}
          {% else %}
            <a href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{{ crumbs | slice: 0, crumb_limit | join: '/' }}/">
              {{ crumb }}
            </a >
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>